<%= render partial: 'shared/merchant_dashboard_nav', locals: { merchant: @merchant } %>

<div class="row">
  <div class="col-sm-12" id='bulk-discounts'>
    <p class='col-head'>
      Create New Bulk Discount
    </p>

    <%= render partial: 'form', locals: { model: [@merchant, @new_bulk_discount],
                                          button_text: 'Create' } %>
  </div>
</div>
