<%= render partial: 'shared/admin_dashboard_nav' %>

<div class='row'>
  <% # LEFT COLUMN %>
  <%= render partial: 'shared/top_customers', locals: { subject: @top_customers } %>

  <% # RIGHT COLUMN %>
  <div class='col-sm-6' id='incomplete-invoices'>
    <p class='col-head'>
      Incomplete Invoices
    </p>

    <% @incomplete_invoices.each do |invoice| %>
      <p class='card-white'>
        <%= link_to "Invoice # #{invoice.id}", admin_invoice_path(invoice.id) %><br>
        Invoice Date: <%= invoice.formatted_date %>
      </p>
    <% end %>
  </div>
</div>
