<%= render partial: 'shared/admin_dashboard_nav' %>

<div class='row'>
  <div class='col-sm-12'>
    <p class='col-head'>
      Invoices
    </p>
  </div>
</div>

<% @invoices.each do |invoice| %>
    <%= link_to "Invoice ##{invoice.id}", admin_invoice_path(invoice), class: 'btn btn-primary mb1' %>
<% end %>

<br><br>

<div class='container-center'>
  <%= paginate @invoices %>
</div>
