<%= render partial: 'shared/admin_dashboard_nav' %>

<div class='row'>
  <div class='col-sm-12'>
    <p class='col-head'>
      Invoices
    </p>
  </div>
</div>

<% @invoices.each do |invoice| %>
  <li>
    <%= link_to "Invoice ##{invoice.id}", admin_invoice_path(invoice) %>
  </li>
<% end %>
