<div class="nav-container">
  <nav class="navbar navbar-light bg-light">
    <h5 class="navbar-text"><%= merchant.name %></h5>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to 'Dashboard', merchant_dashboard_index_path, style: 'pull-right' %> |
        <%= link_to 'Items',     merchant_items_path,           style: 'pull-right' %> |
        <%= link_to 'Invoices',  merchant_invoices_path,        style: 'pull-right' %>
      </li>
    </ul>
  </nav>
</div>
