<%= render partial: 'shared/admin_dashboard_nav' %>

<div class="row">
  <% # FULL COLUMN %>
  <div class="col-sm-12">
    <p class='col-head'>
      Update <%= @merchant.name %>
    </p>
  </div>
</div>

<div class="row">
  <% # FULL COLUMN %>
  <div class="col-sm-12">
    <%= render partial: 'form', locals: { method: :patch,
                                         url: admin_merchant_path(@merchant),
                                         class: 'merchant_form',
                                         local: true } %>
  </div>
</div>
