<%= render partial: 'shared/admin_dashboard_nav' %>

<div class='row'>
  <div class='col-sm-12'>
    <p class='col-head'>
      Update <%= @merchant.name %>
    </p>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <%= render partial: 'form', locals: { button_text: 'Submit' } %>
  </div>
</div>
