<%= render partial: 'shared/admin_dashboard_nav' %>

<div class='row'>
  <div class='col-sm-12'>
    <p class='col-head'>
      Create New Merchant
    </p>
  </div>
</div>

<%= render partial: 'form', locals: { button_text: 'Submit' } %>
