<h1 class='welcome'>Welcome to the Little Esty Shop!</h1>

<div style='text-align: center'>
  <%= link_to 'Admin Dashboard', admin_dashboard_index_path, class: 'btn btn-primary' %>
  <%= link_to 'Merchant Dashboard', merchant_dashboard_index_path(@random_merchant), class: 'btn btn-primary' %>
</div>
