<%= render partial: 'shared/merchant_dashboard_nav', locals: { merchant: @merchant } %>

<div class="row">
  <div class="col-sm-12">
    <p class='col-head'>
      Create New Item
    </p>
  </div>

  <%= render partial: 'form', locals: { method: :post, url: merchant_items_path(@merchant, @item), class: 'merchant_item_form', local: true, model: nil } %>

</div>
