@import 'bootstrap';

/* MIXINS, VARIABLES, ETC. */

$color1: #E8E8E8; /* background; CLEAN       LIGHT GRAY    */
$color2: #333A56; /* link text,  VERMILLION  DARK BLUE     */
$color3: #52658F; /* header bg;  SUNSHINE    MEDIUM BLUE   */
$color4: #E8E8E8; /* nav bg;     CLEAN       LIGHT GRAY    */
$color5: #99D3DF; /*             ICE         LIGHT BLUE    */
$color6: #F7F5E6; /*             FRESH       LIGHT YELLOW  */

$border-color: rgba(0, 0, 0, 0.125); /* light gray */

$text-color-light: white;
$text-color-dark: $color2;

/* INHERITANCE */



/* UNIVERSAL */

a {
  color: $color2;
}

a:hover {
  color: $color3;
}

body {
  background: $color1;
  padding-left:  20px;
  padding-right: 20px;
  padding-top:   20px;
}

.title, .title:hover {
  color: $text-color-light;
  background-color: $color3;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
}

h1.welcome {
  font-size: 4em;
  padding-bottom: 1em;
  padding-top: 2em;
  text-align: center;
  text-shadow: 1px 3px $border-color;
}

ol.top-list {
  counter-reset: elementcounter;
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;
}

li.top-customer::before {
  content: "Top Customer " counter(elementcounter);
  counter-increment: elementcounter;
  font-weight: bold;
}

li.top-merchant::before {
  content: "Top Merchant " counter(elementcounter);
  counter-increment: elementcounter;
  font-weight: bold;
}

li.top-item::before {
  content: "Top Item " counter(elementcounter);
  counter-increment: elementcounter;
  font-weight: bold;
}

/* NAVIGATION BAR */

.nav {
  color: $color2 !important;
}

.navbar {
  background-color: $color4;
  margin-bottom: 10px;
  padding-left:  20px;
  padding-right: 20px;
}

.navbar-text {
  color: $color3;
  font-weight: bold;
  margin-bottom: 1px;
  margin-top: 1px;
}

.nav-link {
  color: $text-color-light;
  background-color: $color2 !important;
  border-radius: 0;
  margin-left: 0.5em;
}

.nav-link:hover {
  color: $text-color-light;
  background-color: $color3 !important;
  margin-left: 0.5em;
}

/* COLUMNS */

.col-head {
  color: $text-color-light;
  background-color: $color3;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.col-sm-4 {
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
}

.col-sm-5 {
  margin-left: 40px;
  margin-right: 40px;
}

.col-sm-6 {
}

.col-12 {
  background-color:#EBEFF3;
  font-weight: bold;
  text-align:center;
}

.row {
}

/* TABLES */

.table {
  border: $color4;
  border-collapse: collapse;
  color: $text-color-dark;
  // table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.table-clean {
  // margin-bottom: 20px;
  text-align: left;
  vertical-align: top;
}

.table-fixed {
  table-layout: fixed;
}

.td {
  border: 1px solid $color3;
  padding: 8px;
  text-align: left;
}

.th1 {
  color: $text-color-dark;
  padding: 4px;
  text-align: center;
}

.th2 {
  border: 1px solid $color3;
  padding: 8px;
  text-align: left;
}

.th-top {
  text-align: left;
  vertical-align: top;
}

.pad-right {
  padding-right: 30px;
}

.blank-row {
  height: 0.67em !important;
}

/* FORMS AND BUTTONS */

.btn-primary {
  color: $text-color-light;
  background-color: $color2;
  border-color: $color2;
}

.btn-primary:hover {
  color: $text-color-light;
  background-color: $color3;
  border-color: $color3;
}

.control-label {
  padding-top: 0.33em;
}

.select {
  margin: 2px 6px 2px 0;
  padding: 5px 40px 5px 5px;
  vertical-align: middle;
}

/* LINKS */

.page-link {
  color: $color3;
}

.page-item.active .page-link {
    color: $text-color-light;
    background-color: $color3;
    border-color: $color3;
}

.page-link:hover {
    color: $color3;
    background-color: $color4;
    border-color: $color3;
}

/* MISC */

%card-shared {
  border: 1px solid $border-color;
  border-radius: 0.25em;
  color: $color2;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}

.card {
  @extend %card-shared;
  background-color: $color6;
}

.card-white {
  @extend %card-shared;
  background-color: $text-color-light;
}

.container-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pt {
  padding-top: 0.67em;
}

.pr {
  padding-right: 0.33em;
}

.mt {
  margin-top: 0.33em;
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 0.5em;
}

.mb6 {
  margin-bottom: 6em;
}

.mr {
  margin-right: 1em;
}

.ml {
  margin-right: 1em;
}

.vam {
  vertical-align: middle;
}
